* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
}

$Lightred: hsl(0, 100%, 67%);
$Orangeyyellow: hsl(39, 100%, 56%);
$Greenteal: hsl(166, 100%, 37%);
$Cobaltblue: hsl(234, 85%, 45%);
$Lightslateblue: hsl(252, 100%, 67%);
$Lightroyalblue: hsl(241, 81%, 54%);

$Violetblue: hsla(256, 72%, 46%, 1);
$Persianblue: hsla(241, 72%, 46%, 0);

$White: hsl(0, 0%, 100%);
$Paleblue: hsl(221, 100%, 96%);
$Lightlavender: hsl(241, 100%, 89%);
$Darkgrayblue: hsl(224, 30%, 27%);

html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 18px;
  position: relative;
}

.container {
  width: 1440px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 735px;
  height: 510px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 25px 25px 25px 25px;
}

.card__purple {
  padding: 40px 60px;
  background: linear-gradient(
    180deg,
    hsla(252, 100%, 67%) 0%,
    hsla(241, 81%, 54%) 100%
  );
  width: 50%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: start;
}
.purple__title {
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  color: $Lightlavender;
  margin-bottom: 32px;
  position: relative;
  top: -2px;
  left: -4px;
  letter-spacing: 0.4px;
}
.card__counter {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 1) 100%
  );
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.counter__big {
  font-size: 4em;

  color: white;
  font-weight: 800;
  width: 100%;
  text-align: center;
}
.counter__small {
  color: $Lightlavender;
  margin-top: -10px;
  position: relative;
  top: 3px;
}

.card__last-section {
  text-align: center;
  margin-top: 25px;
}
.last-section__title {
  color: white;
  position: relative;
  top: 5px;
  font-size: 30px;
  letter-spacing: 1px;
  left: -2px;
}
.last-section__content {
  color: $Lightlavender;
  margin-top: 20px;
}
.card__white {
  width: 50%;
  padding: 40px;
}
.white__title {
  font-size: 1.3em;
  color: $Darkgrayblue;
  font-weight: 800;
  margin-bottom: 25px;
  display: block;
  position: relative;
  top: -2px;
}
.item--green {
  background-color: #f2fbfa;
  color: $Greenteal;
}
.item--blue {
  background-color: #f3f3fd;
  color: $Lightroyalblue;
}
.item--red {
  background-color: #fff6f5;
  color: $Lightred;
}
.item--yellow {
  background-color: #fffbf2;
  color: $Orangeyyellow;
}

.result__item {
  margin-bottom: 17px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  padding: 15px;
}
.item__left {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.item__icon {
  height: 20px;
  margin-right: 13px;
}
.item__counter {
  color: #929095;
  font-weight: 700;
}
.counter--dark {
  margin-right: 5px;
  color: $Darkgrayblue;
}

.white__continue {
  margin-top: 25px;
  width: 100%;
  background-color: $Darkgrayblue;
  border: none;
  outline: none;
  color: $Paleblue;
  height: 56px;
  border-radius: 30px;
  font-size: 1em;
}

.item__right {
  padding-top: 4px;
}

@media screen and (max-width: 800px) {
  body {
    height: 100%;
  }
  .container {
    width: 100%;
    align-items: normal;
  }
  .card {
    width: 100%;
    flex-wrap: wrap;
    box-shadow: none;
  }
  .card__purple {
    border-radius: 0 0 30px 30px;
    width: 100%;
    height: 355px;
    padding: 25px 40px;
  }
  .card__white {
    width: 100%;
    padding: 25px 31px;
  }
  .purple__title {
    font-size: 1em;
    top: 0px;
    left: 0px;
    margin-bottom: 23px;
  }
  .card__counter {
    height: 140px;
    width: 140px;
  }
  .counter__big {
    font-size: 3em;
    position: relative;
    top: -3px;
  }
  .counter__small {
    top: 7px;
  }
  .card__last-section {
    margin-top: 20px;
  }
  .last-section__title {
    font-size: 24px;
  }
  .last-section__content {
    margin-top: 12px;
    font-size: 0.9em;
  }
  .white__title {
    font-size: 1em;
    top: 0px;
  }
  .item__left {
    margin-top: -6px;
  }
  .item__right {
    margin-top: -2px;
    padding: 0;
  }
  .item__counter {
    font-size: 0.9em;
  }
  .counter--dark {
    margin-right: 4px;
  }
  .item__title {
    font-size: 15.5px;
  }
  .white__continue {
    margin-top: 7px;
  }
}
