* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  height: 100vh;
  font-size: 18px;
  position: relative;
}
body::after {
  position: absolute;
  top: 0;
  background-image: url(./design/desktop-design.jpg);
  content: "";
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  height: 100%;
  pointer-events: none;
}

.container {
  width: 1440px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 735px;
  height: 510px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 25px 25px 25px 25px;
}

.card__purple {
  padding: 40px 60px;
  background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
  width: 50%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: start;
}

.purple__title {
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  color: hsl(241, 100%, 89%);
  margin-bottom: 32px;
  position: relative;
  top: -2px;
  left: -4px;
  letter-spacing: 0.4px;
}

.card__counter {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(180deg, hsl(256, 72%, 46%) 0%, hsl(241, 72%, 46%) 100%);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.counter__big {
  font-size: 4em;
  color: white;
  font-weight: 800;
  width: 100%;
  text-align: center;
}

.counter__small {
  color: hsl(241, 100%, 89%);
  margin-top: -10px;
  position: relative;
  top: 3px;
}

.card__last-section {
  text-align: center;
  margin-top: 25px;
}

.last-section__title {
  color: white;
  position: relative;
  top: 5px;
  font-size: 30px;
  letter-spacing: 1px;
  left: -2px;
}

.last-section__content {
  color: hsl(241, 100%, 89%);
  margin-top: 20px;
}

.card__white {
  width: 50%;
  padding: 40px;
}

.white__title {
  font-size: 1.3em;
  color: hsl(224, 30%, 27%);
  font-weight: 800;
  margin-bottom: 25px;
  display: block;
  position: relative;
  top: -2px;
}

.item--green {
  background-color: #f2fbfa;
  color: hsl(166, 100%, 37%);
}

.item--blue {
  background-color: #f3f3fd;
  color: hsl(241, 81%, 54%);
}

.item--red {
  background-color: #fff6f5;
  color: hsl(0, 100%, 67%);
}

.item--yellow {
  background-color: #fffbf2;
  color: hsl(39, 100%, 56%);
}

.result__item {
  margin-bottom: 17px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  padding: 15px;
}

.item__left {
  display: flex;
  align-items: center;
  padding-top: 4px;
}

.item__icon {
  height: 20px;
  margin-right: 13px;
}

.item__counter {
  color: #929095;
  font-weight: 700;
}

.counter--dark {
  margin-right: 5px;
  color: hsl(224, 30%, 27%);
}

.white__continue {
  margin-top: 25px;
  width: 100%;
  background-color: hsl(224, 30%, 27%);
  border: none;
  outline: none;
  color: hsl(221, 100%, 96%);
  height: 56px;
  border-radius: 30px;
  font-size: 1em;
}

.item__right {
  padding-top: 4px;
}/*# sourceMappingURL=style.css.map */